<div class="col-md-12">

  <h2 class="text-center"> 我发表过的评论 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Content </th>
        <th> Movie Name </th>
        <th> Last Update </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td> <%= review.content %> </td>
          <td> <%= review.movie.name %> </td>
          <td> <%= review.updated_at %> </td>
          <td> <%= link_to('Edit', edit_movie_review_path(review.movie, review), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Delete', movie_review_path(review.movie, review), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
